@using TeamUp.Models

@model TeamUp.ViewModels.PainelControleViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{ Painel de Controle de Projetos }

@section header{
    <link rel="stylesheet" href="~/res/css/PainelControle.css"/>
}

@section content{
    
    <div id="resultados" class="col-sm-10 col-sm-offset-1">
        @foreach (Projeto p in Model.Projetos)
        {
            <div class="itemProjeto">
                <div class="logo" style="background-image:url('@Url.Content("~/UserInputedFiles/ProjetoLogo/" + Html.Raw(p.Id + ".jpg"))')"></div>
                <div class="textoItem">
                    <h3>@p.Titulo</h3>
                    <p>@p.Descricao</p>
                </div>
                <div class="acoesProjeto">
                    <button class="acaoProjeto">asd</button>
                    <button class="acaoProjeto">fgh</button>
                    <button class="acaoProjeto">jkl</button>
                </div>
            </div>
        }
    </div>
}
