@model TeamUp.ViewModels.AutenticacaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{ Autenticação }

@section content{

    <form method="post" action="@Url.Action("Login")">

        @Html.TextBoxFor(m => m.Email)

        @Html.PasswordFor(m => m.Senha)

        @Html.ValidationSummary()

        <input type="submit" />

    </form>

}
