.acoesItem {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 25px;
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 70px;
    justify-content: space-between;
}

.smallItem {
    background-color: white;
    box-shadow: none;
}


.acaoItem {
    margin: 5px 5px 5px 5px;
}

.acaoIcones {
    display: flex;
    justify-content: space-evenly;
}

#resultadosProjetos > hr {
    border-color: gray;
}

#titulo {
    margin-top: 30px;
    background-color: #16a085;
    padding: 20px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.glyphicon {
    font-size: x-large;
    color: gray;
}

.acoesItem > button {
    width: 100%;
}

#aplicacoes {
    width: 600px;
    display: none;
}

#resultadosAplicacoes > .smallItem > .acoesItem {
    justify-content: space-evenly;
}