.preWrap {
    text-align: justify;
}

.divideItem {
    margin: 40px 20px;
}

.vaga {
    display: flex;
    margin: 20px 0;
}

.textoVaga {
    flex: 8;
}

.acaoVaga {
    flex: 2;
    align-items: center;
    display: flex;
    justify-content: center;
}

.divideVaga {
    position: relative;
    width: 90%;
    margin: auto;
}

.vagaIcone {
    border-style: solid;
    border-color: #16a085;
    border-width: 4px;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 100%;
    margin-right: 20px;
}

#envioAplicacao {
    width: 70%;
}

#envioAplicacao textarea {
    height: 9.5rem;
}
    
#cabecalhoProjeto {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px 10px;
}

#cabecalhoProjeto h3 {
    margin: 0;
    font-weight: 400;
    width: fit-content;
    float: right;
    height: fit-content;
}

#cabecalhoProjeto * {
    color: gray;
    border-color: gray;
}

#categoria {
    width: 50%;
    padding-left: 100px;
    display: inline-block;
    position: relative;
    height: 45px;
    width: 50%;
}

#categoriaContent {
    padding-bottom: 5px;
    box-shadow: 0px 1px 0px lightgrey;
    height: 50px;
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    min-width: 330px;
}

#hrCabecalho {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    position: relative;
}

#responsavel {
    display: inline-block;
    position: relative;
    height: 45px;
    width: 50%;
    padding-right: 100px;
}

#tituloWrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    padding-bottom: 5px;
}

#tituloWrapper > h1, #tituloWrapper > h2 {
    width: 100%;
    margin: 0 auto;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 5rem;
    font-weight: 600;
    width: 100%;
    height: 1.15em;
}

#tituloWrapper > h2 {
    font-size: 2.3rem;
}

#coverWrapper {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
}

#coverContent {
    display: flex;
    align-items: center;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
}

#cover {
    position: relative;
    background-size: cover;
    background-position: center center;
    padding: 0;
    width: 100%;
    padding-bottom: 30%;
    z-index: -1;
}

#logo {
    position: absolute;
    background-size: cover;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    border-style: solid;
    border-color: gainsboro;
    width: 200px;
    height: 200px;
    bottom: -100px;
    left: 0;
    right: 0;
}

#wrapper {
    margin-top: 40px;
}

.observacao {
    position: relative;
    top: -14px;
    margin-right: 5px;
}

.itemDetalhe{
}

#reponsavelImagem {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1.5px;
    background-size: cover;
    display: inline-block;
}

#linkUsuario {
    display: inline-flex;
    align-items: center;
    float: right;
    padding-bottom: 5px;
    box-shadow: 0px 1px 0px lightgrey;
    justify-content: flex-end;
    padding-right: 15px;
    min-width: 330px;
}

@media (max-width: 768px) {
    #logo {
        width: 120px;
        height: 120px;
        bottom: -60px;
    }

    #reponsavelImagem {
        height: 25px;
        width: 25px;
    }

    #cover {
        padding-bottom: 50%;
    }
}