.preWrap {
    text-align: justify;
}

#cabecalhoProjeto {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px 10px;
}

#cabecalhoProjeto h3 {
    margin: 0;
    margin-left: auto;
    font-weight: 400;
    width: fit-content;
}

#cabecalhoProjeto * {
    color: gray;
    border-color: gray;
}

#hrCabecalho {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    position: relative;
}

#responsavel {
    display: inline-block;
    position: relative;
    height: 50px;
}

#tituloWrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    padding-bottom: 5px;
}

#tituloWrapper > h1, #tituloWrapper > h2 {
    width: 100%;
    margin: 0 auto;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 5rem;
    font-weight: 600;
    width: 100%;
    height: 1.15em;
}

#tituloWrapper > h2 {
    font-size: 2.3rem;
}

#coverWrapper {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
}

#coverContent {
    display: flex;
    align-items: center;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
}

#cover {
    position: relative;
    background-size: cover;
    background-position: center center;
    padding: 0;
    width: 100%;
    padding-bottom: 30%;
    z-index: -1;
}

#logo {
    position: absolute;
    background-size: cover;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    border-style: solid;
    border-color: gainsboro;
    width: 200px;
    height: 200px;
    bottom: -100px;
    left: 0;
    right: 0;
}

#wrapper {
    margin-top: 40px;
}

.observacao {
    position: relative;
    top: -10px;
    margin-right: 5px;
}

.itemDetalhe{
    margin-bottom: 50px;
}

#reponsavelImagem {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1.5px;
    background-size: cover;
    display: inline-block;
}

#linkUsuario {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 768px) {
    #logo {
        width: 120px;
        height: 120px;
        bottom: -60px;
    }

    #reponsavelImagem {
        height: 25px;
        width: 25px;
    }

    #cover {
        padding-bottom: 50%;
    }
}