html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    display: block;
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
}

label {
    margin-bottom: 0;
}

footer {
    background-color: #34495e;
    height: 100px;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.mainForm {
    padding: 20px 100px 20px 100px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    width: 100%;
}

.pagination {
    float: right;
}

.righMenu {
    float: right;
}

.noLinkEffect {
    color: inherit;
    text-decoration: none;
}

.noLinkEffect:hover {
    color: inherit;
    text-decoration: none;
}

.noLinkEffect:focus {
    color: inherit;
    text-decoration: none;
}

.menuList {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin-left: 10px;
}

.menuItem {
    padding: 0 10px 0 10px;
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: white;
}

.inputTip {
    float: right;
    color: gray;
}

.normalLabel {
    font-weight: normal;
}

button.menuItem {
    background-color: inherit;
    border-style: inherit;
}
    
.menuItem:hover {
    background-color: #3e5368;
    color: #16a085;
}

.menuItem:focus {
    background-color: #2a3f54;
    color: #16a085;
}

.currentPage {
    box-shadow: inset 0px -3px 0px #16a085;
}

.dropdown {
    padding: 0 0 0 0;
}

.preWrap {
    white-space: pre-wrap;
}

.item {
    min-height: 80px;
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
}

.smallItem {
    min-height: 60px;
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    background-color: lightgray;
    box-shadow: 3px 3px 2px grey;
}


.logo {
    position: relative;
    height: 100px;
    width: 100px;
    background-size: cover;
    margin: 0 25px 0 25px;
}

.smallImg {
    position: relative;
    height: 60px;
    width: 60px;
    min-width: 50px;
    background-size: cover;
    margin: 0 15px 0 15px;
}

.wrapper {
    margin-top: 40px;
    height: 100%;
    overflow: auto;
    position: relative;
    display: flex;
    flex: 1;
    flex-flow: column;
}

.content {
    height: 100%;
    position: relative;
}

.bodyContent {
    padding: 20px;
    left: 0;
    right: 0;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.atencao {
    color: red;
}

.form-control {
    margin: 10px 0 15px 0;
    width: 100%;
}

.field-validation-error {
    color: red;
    display: block;
    margin-bottom: 20px;
}

.invisibleElement {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#mensagemRetorno > #mensagem {
    text-align: justify;
    padding: 0 20px 0 20px;
    font-weight: bold;
}

#formWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

#menu {
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #34495e;
    z-index: 5;
}

#menuContent {
    display: flex;
    align-items: center;
    overflow: initial;
    height: 100%;
}

#teamupLogo {
    position: relative;
    width: 40px;
    height: 100%;
    border-style: solid;
    border-color: #16a085;
    border-radius: 100%;
    display: inline-block
}

#modal {
    min-height: 250px;
    border-radius: 10px;
    background-color: white;
    padding: 0 15px 0 15px;
}

#modalContent {
    overflow-y: auto;
    max-height: 80vh;
    display: flex;
    align-items: center;
    height: 230px;
    justify-content: center;
}

#modalContent > * {
}

#closeModal {
    float: right;
    margin-top: 5px;
    color: lightslategray;
}

#darken {
    position: fixed;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: none;
    align-items: center;
}


@media (min-width: 768px) {
    .item {
        min-height: 150px;
    }

    .smallItem {
        min-height: 100px;
    }

    .content {
        max-width: 900px;
        margin: 0 auto;
    }

    #menuContent {
        max-width: 900px;
    }
}