.resultados {
    clear: right;
    padding: 0;
}

.tituloSecao {
    clear: both;
    margin-top: 40px;
}

#perfil {
    position: absolute;
    background-size: cover;
    z-index: 1;
    border-radius: 10px;
    border-style: solid;
    border-color: gainsboro;
    width: 130px;
    height: 130px;
    bottom: -20px;
}

#nome {
    margin-top: 0;
}

#cover {
    position: relative;
    padding-bottom: 10%;
    max-height: 200px;
    background-size: cover;
}

@media (min-width: 992px) {
    #perfil {
        width: 150px;
        height: 150px;
        right: 0;
        top: -120px;
        margin-right: 110px;
    }
}
